In [1]:
library(Seurat)

Attaching SeuratObject

In [14]:
a = read.table('a.txt')
a
b = read.table('b.txt')
b
a= CreateSeuratObject(t(a), names.field = 1)
b= CreateSeuratObject(t(b), names.field = 1)

   g1 g2 g3
c1 1  1  1
c2 0  1  0
c3 1  0  1

   g1 g2 g3
c1 0  1  1
c2 0  1  0
c3 0  1  1

Warning message:
“The following arguments are not used: row.names”
Warning message:
“The following arguments are not used: row.names”

In [27]:
c = merge(a,b, add.cell.ids = c("4K", "4K"))

Warning message in CheckDuplicateCellNames(object.list = objects):
“Some cell names are duplicated across objects provided. Renaming to enforce unique cell names.”

In [28]:
c@assays$RNA@counts

3 x 6 sparse Matrix of class "dgCMatrix"
   4K_c1_1 4K_c2_1 4K_c3_1 4K_c1_2 4K_c2_2 4K_c3_2
g1       1       .       1       .       .       .
g2       1       1       .       1       1       1
g3       1       .       1       1       .       1

In [25]:
a@assays$RNA@counts

3 x 3 sparse Matrix of class "dgCMatrix"
   c1 c2 c3
g1  1  .  1
g2  1  1  .
g3  1  .  1

In [26]:
b@assays$RNA@counts

3 x 3 sparse Matrix of class "dgCMatrix"
   c1 c2 c3
g1  .  .  .
g2  1  1  1
g3  1  .  1

In [29]:
a@meta.data

   orig.ident    nCount_RNA nFeature_RNA
c1 SeuratProject 3          3
c2 SeuratProject 1          1
c3 SeuratProject 2          2